
.card{
    width: 560px;
    height:87px;
    background-color: #f8f9fa;
    border-radius:10px;
    display: flex;
    flex-direction: row;
    gap: 41px;
}

.container--column{
    width: 337px;
    height:68px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}