.main--home {
    margin-top: 40px;
    width: 983px;
    margin-inline: auto;
    display: flex;
    gap: 60px;
}

.form--total{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

@media screen and (max-width:1000px){
    .main--home{
        width:600px;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width:600px){
    .main--home{
        width:300px;
    }
}