header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
    box-shadow: 0px 4px 32px -12px rgba(0, 0, 0, 0.25);
}

div.header--flex {
    width: 978px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 123px;
    height: 19.5px;
}

.landing-Page--btn {
    width: 64px;
    height: 40px;
    color: var(--grey3);
    font-size: 14px;
    border: 1px solid transparent;
    background-color: var(--grey0);
    border-radius: 10px;
    -webkit-transition: all 0.6s 0s ease-in-out;
    -moz-transition: all 0.6s 0s ease-in-out;
    -o-transition: all 0.6s 0s ease-in-out;
    transition: all 0.6s 0s ease-in-out;
}

.landing-Page--btn:hover{
    cursor: pointer;
    background-color: var(--colorPrimary);
    border: 1px solid #fff;
    color: #fff;
   -webkit-transition: all 0.6s 0s ease-in-out;
    -moz-transition: all 0.6s 0s ease-in-out;
    -o-transition: all 0.6s 0s ease-in-out;
    transition: all 0.6s 0s ease-in-out;
}

@media screen and (max-width:1000px){
   div.header--flex{
       width: 600px;
   }
}

@media screen and (max-width:600px){
    div.header--flex{
        width: 300px;
    }
}