header {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 88px;
}

div.header--flex {
    width: 978px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo {
    width: 123px;
    height: 19.5px;
}

.landing-Page--btn {
    width: 64px;
    height: 40px;
    color: var(--grey3);
    font-size: 14px;
    border: 1px transparent;
    background-color: var(--grey0);
    border-radius: 10px;
}