.App {
  text-align: center;
  height: 100%;
}

#root{
  height: 100%;
}

h1{
  font-size: 38px;
  font-weight: bold;
}

h2{
  font-size: 22px;
  font-weight: bold;
}

h3{
  font-size: 18px;
  font-weight: bold;
}

button{
  font: inherit;
}

figure{
  width: fit-content;
  height: fit-content;
}